<html>
  <head>
    <title>Chitter Peep</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>

    <div>
        <h3><%= @peep.title %></h3>
        <h3><%= @username %></h3>
        <p><%= @peep.content %></p>
        <p><%= @peep.time %></p>
    </div>
    
    <a href='/'>Return to home page</a>
  </body>
</html>