<html>
  <head>
    <title>Chitter Sign Out</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>

    <h1>Successfully signed out!</h1>

    <div>
        <a href='/'>Back to the home page</a>
    </div>
  </body>
</html>