<html>
  <head>
    <title>Chitter Sign Out</title>
    <link href="/sign_out.css" rel="stylesheet" />
  </head>
  <body>

    <div class="sign_out">
      <h1>Successfully signed out!</h1>
        <a href='/'>Back to the home page</a>
    </div>
  </body>
</html>