<html>
  <head>
    <title>Chitter Sign Up</title>
    <link href="/sign_up.css" rel="stylesheet" />
  </head>
  <body>
    <div>
       <h2 class="home"><a href="/">Home</a></h2>
    </div>
    <h1>Sign up here:</h1>

    <form action="/sign_in" method="POST" class="sign_up">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="text" name="password">
    <label>Name</label>
    <input type="text" name="name">
    <label>Email</label>
    <input type="text" name="email">

    <input type="submit" value="Sign up">
    </form>
  </body>
</html>